In [ ]:
# i) range 쓰는 것, ii) random 쓰는 겄
age = [num for num range(16, 26)]

In [27]:
import random
a = random.randint(17,25) for count in range(10)
a

23

In [10]:
df.dtypes

name     object
birth    object
age       int64
dtype: object

In [11]:
# 영어 이름의 경우, 성과 이름을 분리 시키고 싶을 경우
df['name']
df['name'][0], type(df['name'][0])

# 생일의 경우,

('Mc Kim', str)

In [12]:
# str 타입이니까
df['name'][0].split()

['Mc', 'Kim']

In [13]:
# 시리즈는 split() 메서드가 없어서 오류!
# df['name'].split()
# but, 접근자를 사용해 쓸 수 있게 해준다
# df['name']가 시리즈라서 split을 못쓰지만
df['name'].str.split()

0         [Mc, Kim]
1      [Alice, Lee]
2      [Pole, Park]
3         [DJ, Koo]
4       [Note, Bae]
5     [Heaven, Seo]
6     [Black, List]
7    [White, Paper]
8    [White, House]
9        [Sun, Cap]
Name: name, dtype: object

In [14]:
# 마찬가지로 str에만 쓸 수 있는 메서드들을 쓸 수 있게 해준다
df['name'].str.contains('a')  # 해당 데이터에 'a'가 들어있는 유무에 따라 True/False 출력
#lower(), capitalize() 등등

0    False
1    False
2     True
3    False
4     True
5     True
6     True
7     True
8    False
9     True
Name: name, dtype: bool

## str 데이터로 구성된 컬럼(Series)의 str 접근자

- 전체 컬럼의 요소에 str 관련 메서드 사용 가능하도록 하는 접근자
- 사용법
    - 객체변수(컬럼명).str.메서드()  =>  ex) upper, split 등등
    - 객체변수(컬럼명).str.get(인덱스)  =>  분리 문자리스트에서 특정 요소 추출

In [15]:
# 문자열 분리
a = df['name'].str.split()
type(a)

pandas.core.series.Series

In [16]:
a = df['name'].str.split()
type(a)

pandas.core.series.Series

In [17]:
# 분리된 문자열 리스트에서 특정값 가져오기
# str, list 니까
a.str.get(0), a.str.get(1)

(0        Mc
 1     Alice
 2      Pole
 3        DJ
 4      Note
 5    Heaven
 6     Black
 7     White
 8     White
 9       Sun
 Name: name, dtype: object,
 0      Kim
 1      Lee
 2     Park
 3      Koo
 4      Bae
 5      Seo
 6     List
 7    Paper
 8    House
 9      Cap
 Name: name, dtype: object)

In [18]:
df['first_name'] = a.str.get(0)
df['last_name'] = a.str.get(1)

In [19]:
# # str.split()
# # 하나의 리스트에 담겨져서 시리즈로 나오지만, 
# # 파라미터 expeand를 쓰면, DF로 나옴
# value=df['name'].str.split(expand=True)
# type(value)
# value

        0      1
0      Mc    Kim
1   Alice    Lee
2    Pole   Park
3      DJ    Koo
4    Note    Bae
5  Heaven    Seo
6   Black   List
7   White  Paper
8   White  House
9     Sun    Cap

In [20]:
# 이후 데이터 프레임에 연결시켜 (concat, 열방향)
df = pd.concat([df, value], axis=1)
# # => 자동으로 컬럼이 추가 되니까 별도로 inplace나 선언할 필요x
# df = df.drop([0,1], axis=1)
# df
# # => 0과 1이 들어가는 같은 이름의 컬럼들은 다 지워지는 것을 알 것
df = pd.concat([df, value], axis=1)
df

,name,birth,age,first_name,last_name,0,1,0,1
0,Mc Kim,2020-01-20,12,Mc,Kim,Mc,Kim,Mc,Kim
1,Alice Lee,2020-02-20,54,Alice,Lee,Alice,Lee,Alice,Lee
2,Pole Park,2020-05-20,23,Pole,Park,Pole,Park,Pole,Park
3,DJ Koo,2020-04-20,20,DJ,Koo,DJ,Koo,DJ,Koo
4,Note Bae,2020-03-20,11,Note,Bae,Note,Bae,Note,Bae
5,Heaven Seo,2020-06-20,18,Heaven,Seo,Heaven,Seo,Heaven,Seo
6,Black List,2020-09-20,20,Black,List,Black,List,Black,List
7,White Paper,2020-08-20,40,White,Paper,White,Paper,White,Paper
8,White House,2020-07-20,32,White,House,White,House,White,House
9,Sun Cap,2020-10-20,34,Sun,Cap,Sun,Cap,Sun,Cap

In [21]:
df.columns

Index(['name', 'birth', 'age', 'first_name', 'last_name', 0, 1, 0, 1], dtype='object')

In [22]:
# df.columns = [쥭~]  # => 컬럼의 개수만큼

SyntaxError: invalid syntax (3370336688.py, line 1)

In [ ]:
# df.rename(columns={'0':'firstName','1':'lastName'}, inplace=True)

In [ ]:
df2 = pd.concat([df, value], axis=1)
df

In [ ]:
# firstName = []
# familyName = []

# for i1, i2 in a:
#     firstName = i2
#     familyName = i1

# firstName, familyName

# # 이런식으로 list에 이름과 성을 떼어 담아서
# # 컬럼을 각각 만들어 주려고 하는데

# df['first_name'] = firstName
# df['last_name'] = lastName

# 새 파일로 

- stock-data.csv  

- 접근자 사용하여 Data 컬럼 분할 (Y, M, D)  

- D일 기준으로 정렬

In [ ]:
# 파일 로딩
DIR = '../Data/'
FILE = DIR+'stock-data.csv'
FILE

In [ ]:
stockDF = pd.read_csv(FILE)
stockDF.info()

In [ ]:
stockDF.head()

In [ ]:
# Data 컬럼의 type들 확인 => object
stockDF['Date'].dtype

In [ ]:
# 해당 컬럼 (시리즈) 분리
date = stockDF['Date'].str.split('-')

# 각 값들의 데이터 형태 확인 => list
# type(date[0]) 
date

In [ ]:
# 각 값들 확인
date.str.get(0)
date.str.get(1)
date.str.get(2)

In [ ]:
stockDF['Y'] = date.str.get(0)
stockDF['M'] = date.str.get(1)
stockDF['D'] = date.str.get(2)

# 추가된 컬럼 확인
stockDF

In [ ]:
# D를 기준으로 정렬
stockDF = stockDF.sort_values(by = 'D')
stockDF

In [ ]:
# 간단하게는 expand로 Df로 뽑아서 그것만 바로 concat으로 붙여
# => 실습해보시옹

In [ ]:
# str.split()
# 하나의 리스트에 담겨져서 시리즈로 나오지만, 파라미터 expeand를 쓰면, DF로 나옴
split_Date = stockDF['Date'].str.split('-', expand=True)
type(split_Date)
# split_Date