# 결측치(Missing Value) 처리하기

- 결측치(Missing Value)란?
    : 값이 들어있지 않는 것으로 NaN, NA로 표기  
    
- 관련 메서드
    - 체크 : isnull(), isna()   /   notnull(), notna()
    - 삭제 : dropna()
    - 치환 : fillna()

### 처리방법 1. 삭제

In [3]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수 선언
DIR_PATH = '../Data/'
FILE_NAME = DIR_PATH+'weather.csv'

In [4]:
# 1) CSV Filer => DataFrame으로 로딩
weatherDF = pd.read_csv(FILE_NAME)

In [5]:
# 2) 데이터 정보 확인
weatherDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [6]:
print(f'{weatherDF.shape}')
print(f'{weatherDF.head(3)}')
print(f'{weatherDF.tail(3)}')
print(f'{weatherDF.index}')
print(f'{weatherDF.columns}')

(22, 35)
        id  year  month element  d1    d2    d3  d4  d5  d6  ...  d22   d23  \
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN NaN NaN  ...  NaN   NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN NaN NaN  ...  NaN   NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN NaN NaN  ...  NaN  29.9

   d24  d25  d26  d27  d28  d29   d30  d31
0  NaN  NaN  NaN  NaN  NaN  NaN  27.8  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN  14.5  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN

[3 rows x 35 columns]
         id  year  month element    d1    d2  d3    d4   d5    d6  ...  d22  \
19  MX17004  2010     11    tmin   NaN  16.3 NaN  12.0  7.9   NaN  ...  NaN
20  MX17004  2010     12    tmax  29.9   NaN NaN   NaN  NaN  27.8  ...  NaN
21  MX17004  2010     12    tmin  13.8   NaN NaN   NaN  NaN  10.5  ...  NaN

    d23  d24  d25   d26   d27  d28  d29  d30  d31
19  NaN  NaN  NaN  12.1  14.2  NaN  NaN  NaN  NaN
20  NaN  NaN  NaN   NaN   NaN  NaN  NaN  NaN  NaN
21  NaN  NaN  NaN   NaN   NaN  NaN  NaN  NaN  NaN

[3 rows x 35 columns]
RangeIndex(start=0, stop=22, step=1)
Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [7]:
# 결측치 갯수 파악
weatherDF.isnull()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,False,True
1,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,False,True
2,False,False,False,False,True,False,False,True,True,True,...,True,False,True,True,True,True,True,True,True,True
3,False,False,False,False,True,False,False,True,True,True,...,True,False,True,True,True,True,True,True,True,True
4,False,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
5,False,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,True,True,True,True
6,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
7,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
8,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
9,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,False,True,True,True,True
10,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
11,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,False,True,True
12,False,False,False,False,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,False,False,False,False,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,False,False,False,False,True,True,True,True,False,True,...,True,False,True,False,True,True,True,False,True,False
15,False,False,False,False,True,True,True,True,False,True,...,True,False,True,False,True,True,True,False,True,False
16,False,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,False,True,True,True
17,False,False,False,False,True,True,True,True,False,True,...,True,True,True,True,True,True,False,True,True,True
18,False,False,False,False,True,False,True,False,False,True,...,True,True,True,True,False,False,True,True,True,True
19,False,False,False,False,True,False,True,False,False,True,...,True,True,True,True,False,False,True,True,True,True
20,False,False,False,False,False,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True
21,False,False,False,False,False,True,True,True,True,False,...,True,True,True,True,True,True,True,True,True,True

In [8]:
weatherDF.isnull().sum()

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [9]:
# 결측치가 많군 -> 삭제할것인가 / 치환할 것인가

In [10]:
weatherDF.head(3)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# 2010년도 1월달의 최고 온도와 최저 온도 출력
# 1월달에 입력된 온도는 2개 

# (1) 1월달 기온만 뺀 것
weatherDF_01 = weatherDF.iloc[0:2]   # 혹은 [[0,1]]
weatherDF_01

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN

In [12]:
# (2) NaN값 제거
weatherDF_01.dropna()  # 기본값이 행(row방향), 하나라도 NaN 있으면 삭제이므로
# => 싹 사라지네, row 데이터로 하면 안되겠구나.

Empty DataFrame
Columns: [id, year, month, element, d1, d2, d3, d4, d5, d6, d7, d8, d9, d10, d11, d12, d13, d14, d15, d16, d17, d18, d19, d20, d21, d22, d23, d24, d25, d26, d27, d28, d29, d30, d31]
Index: []

[0 rows x 35 columns]

In [13]:
# (3) 그렇다면, 컬럼 기준(axis=1)으로 설정을 해볼까
# => 동일한 날짜의 행에 NaN이 다 있으면 삭제하겠다.

weatherDF_01.dropna(axis=1, how='all')

        id  year  month element   d30
0  MX17004  2010      1    tmax  27.8
1  MX17004  2010      1    tmin  14.5

In [14]:
# 2월의 최고-최저온도 출력
weatherDF_02 = weatherDF.iloc[2:4]
weatherDF_02

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# 우선 1월 기준과 같게해서 찍어보자
weatherDF_02.dropna(axis=1, how='all')

        id  year  month element    d2    d3   d11   d23
2  MX17004  2010      2    tmax  27.3  24.1  29.7  29.9
3  MX17004  2010      2    tmin  14.4  14.4  13.4  10.7

In [16]:
# 과제 0704
# (1) 2010년 1월~2월 최고/최저 평균 온도

# (2) 2010년 1월~12월 최고/최저 온도 추출
# - dropna()와 그 파라미터들을 활용해서
# - NaN을 영향을 미치지 않는 '0'으로 바꾼 후, 연산 시작
# - for문 돌려서 출력을 해보면은?

# (3)

In [26]:
weatherDF

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 처리방법 2. 치환

In [18]:
# 1) CSV Filer => DataFrame으로 로딩
weatherDF = pd.read_csv(FILE_NAME)
# ex) 1월 최고온도(tmax) 다 더해서 평균 = > 구하고자 하는 것

In [19]:
# 2) NaN 데이터를 다른 값으로 치환(변경)하기 => fillna()
# 주로 bfill이나 ffill 사용 많이 한다고 함
# => NaN들이 어떻게 분포되어 있냐에 따라서 활용도를 생각해봐야 할 듯

In [20]:
# 모든 NaN을 0으로 채우기  (0으로 채울지, 다른 걸로 채울지)
weatherDF.fillna(0)

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.8,0.0
1,MX17004,2010,1,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.5,0.0
2,MX17004,2010,2,tmax,0.0,27.3,24.1,0.0,0.0,0.0,...,0.0,29.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,MX17004,2010,2,tmin,0.0,14.4,14.4,0.0,0.0,0.0,...,0.0,10.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MX17004,2010,3,tmax,0.0,0.0,0.0,0.0,32.1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,MX17004,2010,3,tmin,0.0,0.0,0.0,0.0,14.2,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,MX17004,2010,4,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,36.3,0.0,0.0,0.0,0.0
7,MX17004,2010,4,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,16.7,0.0,0.0,0.0,0.0
8,MX17004,2010,5,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,33.2,0.0,0.0,0.0,0.0
9,MX17004,2010,5,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,18.2,0.0,0.0,0.0,0.0
10,MX17004,2010,6,tmax,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.1,0.0,0.0
11,MX17004,2010,6,tmin,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,0.0,0.0
12,MX17004,2010,7,tmax,0.0,0.0,28.6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MX17004,2010,7,tmin,0.0,0.0,17.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,MX17004,2010,8,tmax,0.0,0.0,0.0,0.0,29.6,0.0,...,0.0,26.4,0.0,29.7,0.0,0.0,0.0,28.0,0.0,25.4
15,MX17004,2010,8,tmin,0.0,0.0,0.0,0.0,15.8,0.0,...,0.0,15.0,0.0,15.6,0.0,0.0,0.0,15.3,0.0,15.4
16,MX17004,2010,10,tmax,0.0,0.0,0.0,0.0,27.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,31.2,0.0,0.0,0.0
17,MX17004,2010,10,tmin,0.0,0.0,0.0,0.0,14.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0
18,MX17004,2010,11,tmax,0.0,31.3,0.0,27.2,26.3,0.0,...,0.0,0.0,0.0,0.0,28.1,27.7,0.0,0.0,0.0,0.0
19,MX17004,2010,11,tmin,0.0,16.3,0.0,12.0,7.9,0.0,...,0.0,0.0,0.0,0.0,12.1,14.2,0.0,0.0,0.0,0.0
20,MX17004,2010,12,tmax,29.9,0.0,0.0,0.0,0.0,27.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,MX17004,2010,12,tmin,13.8,0.0,0.0,0.0,0.0,10.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
weatherDF.fillna(method = 'ffill')

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
4,MX17004,2010,3,tmax,NaN,14.4,14.4,NaN,32.1,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
5,MX17004,2010,3,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
6,MX17004,2010,4,tmax,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,36.3,NaN,NaN,14.5,NaN
7,MX17004,2010,4,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,16.7,NaN,NaN,14.5,NaN
8,MX17004,2010,5,tmax,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,33.2,NaN,NaN,14.5,NaN
9,MX17004,2010,5,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,NaN,14.5,NaN
10,MX17004,2010,6,tmax,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,30.1,14.5,NaN
11,MX17004,2010,6,tmin,NaN,14.4,14.4,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,18.0,14.5,NaN
12,MX17004,2010,7,tmax,NaN,14.4,28.6,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,18.0,14.5,NaN
13,MX17004,2010,7,tmin,NaN,14.4,17.5,NaN,14.2,NaN,...,NaN,10.7,NaN,NaN,NaN,18.2,NaN,18.0,14.5,NaN
14,MX17004,2010,8,tmax,NaN,14.4,17.5,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,18.2,NaN,28.0,14.5,25.4
15,MX17004,2010,8,tmin,NaN,14.4,17.5,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,18.2,NaN,15.3,14.5,15.4
16,MX17004,2010,10,tmax,NaN,14.4,17.5,NaN,27.0,NaN,...,NaN,15.0,NaN,15.6,NaN,18.2,31.2,15.3,14.5,15.4
17,MX17004,2010,10,tmin,NaN,14.4,17.5,NaN,14.0,NaN,...,NaN,15.0,NaN,15.6,NaN,18.2,15.0,15.3,14.5,15.4
18,MX17004,2010,11,tmax,NaN,31.3,17.5,27.2,26.3,NaN,...,NaN,15.0,NaN,15.6,28.1,27.7,15.0,15.3,14.5,15.4
19,MX17004,2010,11,tmin,NaN,16.3,17.5,12.0,7.9,NaN,...,NaN,15.0,NaN,15.6,12.1,14.2,15.0,15.3,14.5,15.4
20,MX17004,2010,12,tmax,29.9,16.3,17.5,12.0,7.9,27.8,...,NaN,15.0,NaN,15.6,12.1,14.2,15.0,15.3,14.5,15.4
21,MX17004,2010,12,tmin,13.8,16.3,17.5,12.0,7.9,10.5,...,NaN,15.0,NaN,15.6,12.1,14.2,15.0,15.3,14.5,15.4