## IRIS Dataset 활용 분류

In [1]:
# 모듈 로딩
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt
import numpy as np

### [1] 데이터 로딩 및 확인

In [ ]:
# iris = load_iris()
# type(iris)

In [ ]:
# iris = load_iris(as_frame=True, return_X_y=True)
# type(iris), type(iris[0]), type(iris[1])

In [2]:
data, target = load_iris(as_frame=True, return_X_y=True)
type(data), type(target)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [4]:
print(data.info(), data.head(5), sep='\n\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB
None

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
print(target.head(3), target.unique(), target.value_counts(), sep='\n\n')

0    0
1    0
2    0
Name: target, dtype: int32

[0 1 2]

0    50
1    50
2    50
Name: target, dtype: int64

### [2] 학습 데이터 준비

In [6]:
# 데이터 => petal_length, petal_width
# 타  겟 => 0, 2
# 현재 있는 data에서 2개만 뽑아
# train과 target을 따로 안주고, 차원으로 된 상태에서 됨

data=data.loc[:, data.columns[2:]]
print('data => ', data.shape)

data =>  (150, 2)

In [7]:
data

     petal length (cm)  petal width (cm)
0                  1.4               0.2
1                  1.4               0.2
2                  1.3               0.2
3                  1.5               0.2
4                  1.4               0.2
..                 ...               ...
145                5.2               2.3
146                5.0               1.9
147                5.2               2.0
148                5.4               2.3
149                5.1               1.8

[150 rows x 2 columns]

In [8]:
# 학습용, 테스트용 데이터 분리
# 기본이 셔플로 섞어서 줌
# train:test=75%:25%
# test_size = 0.X
# stratify => 분류 항목 비율 맞추어서 데이터셋 설정
# -> 각 항목별 분류하는 것의 비율도 맞춰줌
# random_state => 매번 동일하게 데이터 구성하는 경우 지정

from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(data, 
                                                    target,
                                                    test_size=0.2,
                                                    random_state=42,
                                                    stratify=target)

In [9]:
print(train_input.shape, test_target.shape)
print(train_target.value_counts(), test_target.value_counts())

(120, 2) (30,)
0    40
2    40
1    40
Name: target, dtype: int64 0    10
2    10
1    10
Name: target, dtype: int64

### [3] 훈련

In [10]:
logis = LogisticRegression()
logis.fit(train_input, train_target)

LogisticRegression()

In [14]:
# 학습 후, 설정된 속성(Attributes)
print("분류 종류 : ", logis.classes_)
print("가중치 값 : ", logis.coef_)
print("절편 값 : ", logis.intercept_)
print("특성 갯수 : ", logis.n_features_in_)

분류 종류 :  [0 1 2]
가중치 값 :  [[-2.57480323 -1.08787617]
 [ 0.11136326 -0.84266177]
 [ 2.46343997  1.93053794]]
절편 값 :  [ 10.41582694   2.8335323  -13.24935924]
특성 갯수 :  2

### [4] 평가

In [11]:
print('train : ', logis.score(train_input, train_target))
print('test  : ', logis.score(test_input, test_target))

train :  0.9666666666666667
test  :  0.9666666666666667

### [5] 예측

In [12]:
logis.predict([[5.8, 2.7]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([2])