# 통계 관련 메서드 실습

- 데이터에 대한 평균(mean()), 표준편차(std()), 중앙값(median()),  
최빈값(mode(), 상관계수값(corr()) 관련 메서드 활용  
- 데이터 간의 관계, 데이터의 분포 등을 파악할 수 있음

In [2]:
# 모듈 로딩
import pandas as pd

# 파일 관련 변수들
DIR_PATH = '../Data/'
FILE_NAME = DIR_PATH+'iris.csv'

In [33]:
# 1) 데이터 로딩 (CSV File -> DataFrame으로)
irisDF = pd.read_csv(FILE_NAME)
irisDF.info()
irisDF.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

(150, 5)

In [46]:
# 2) DF 객체에 대한 통계 관련 메서드 적용
irisDF.mean()

C:\Users\ahasu\AppData\Local\Temp\ipykernel_11216\3371535425.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.mean().copy

<bound method NDFrame.copy of SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64>

In [9]:
irisDF.median()

C:\Users\ahasu\AppData\Local\Temp\ipykernel_11216\3239076404.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  irisDF.median().copy()

SepalLength    5.80
SepalWidth     3.00
PetalLength    4.35
PetalWidth     1.30
dtype: float64

In [8]:
irisDF.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

In [10]:
# -1.0 ~ 1.0 에 가까운 수치를 나타내는 관계가 높은 상관관계라는 것
# 부호(+,-)를 떠나서 수치가 0.5이하라면 의미 낮은 (확인)

In [23]:
# 3) 컬럼별 평균, 표준편차, 상관계수 출력하기
irisDF_col = irisDF[irisDF.columns[0:4]]
irisDF_col.mean()

SepalLength    5.843333
SepalWidth     3.054000
PetalLength    3.758667
PetalWidth     1.198667
dtype: float64

In [31]:
a = pd.DataFrame(irisDF_col.median())
a

                0
SepalLength  5.80
SepalWidth   3.00
PetalLength  4.35
PetalWidth   1.30

In [24]:
irisDF_col.std()

SepalLength    0.828066
SepalWidth     0.433594
PetalLength    1.764420
PetalWidth     0.763161
dtype: float64

In [25]:
irisDF_col.corr()

             SepalLength  SepalWidth  PetalLength  PetalWidth
SepalLength     1.000000   -0.109369     0.871754    0.817954
SepalWidth     -0.109369    1.000000    -0.420516   -0.356544
PetalLength     0.871754   -0.420516     1.000000    0.962757
PetalWidth      0.817954   -0.356544     0.962757    1.000000

#### * 선생님 작성 (메서드 사용하는 방법 익숙해지기)

In [43]:
for col in irisDF.columns[0:4]:
    print(f'-------- {col} --------')
    print(f'평    균 : {irisDF[col].mean()}')
    print(f'표준편차 : {irisDF[col].std()}')
    print(f'최 빈 값 : {irisDF[col].mode()[0]}')   # 0(인덱스), 5.0 (값)  =>  이렇게 나오는데,
                                                  # 필요한 값을 빼기 위해 '[0]' 해준 것
    print(f'상관관계 ')
    for icol in irisDF.columns[:4]:
        if col == icol: continue
        print(f'{icol} : {irisDF[col].corr(irisDF[icol])}')    # {a.corr(b)} => a와 b 컬럼 간의 상관관계를 나타내는 것이지
    print()

-------- SepalLength --------
평    균 : 5.843333333333335
표준편차 : 0.8280661279778629
최 빈 값 : 5.0
상관관계
SepalWidth : -0.10936924995064935
PetalLength : 0.8717541573048714
PetalWidth : 0.8179536333691634

-------- SepalWidth --------
평    균 : 3.0540000000000007
표준편차 : 0.4335943113621737
최 빈 값 : 3.0
상관관계
SepalLength : -0.10936924995064935
PetalLength : -0.4205160964011546
PetalWidth : -0.3565440896138058

-------- PetalLength --------
평    균 : 3.7586666666666693
표준편차 : 1.7644204199522617
최 빈 값 : 1.5
상관관계
SepalLength : 0.8717541573048714
SepalWidth : -0.4205160964011546
PetalWidth : 0.9627570970509662

-------- PetalWidth --------
평    균 : 1.1986666666666672
표준편차 : 0.7631607417008414
최 빈 값 : 0.2
상관관계
SepalLength : 0.8179536333691634
SepalWidth : -0.35654408961380574
PetalLength : 0.9627570970509662