# 접근자(Accessor) 실습

- DF/SR에 속성으로 제공되며 다른 객체의 기능/속성을 사용할 수 있도록 해줌

- 종류
    - Series.dt : datetime 속성 사용할 수 있도록 해줌
    - Series.str : string 관리  
    => 컬럼 관련된 것을 수행할 때 이 2가지를 많이 활용
    - DataFrame.spare : spare 관련 속성/메서드 사용할 수 있도록 해줌

In [6]:
# 하나의 컬럼을 여러 개로 분리 = > 접근자 활용

In [7]:
# 모듈 로딩
import pandas as pd
import random
# import pandas as pd, random

# 데이터 생성
# 이름, 생년월일( ex) 2020-02-20 ), 나이 3개 컬럼으로 구성
# 이름은 영어, 10명, 생일이 1달 차이로 일자는 모두 같게끔

# date_range 활용
birth = pd.date_range('2020-01-10', periods=10, freq='M')
birth

# # i) range 쓰는 것, ii) random 쓰는 겄
# age = [num for num range(16, 26)]
# random.randint(17,25) for count in range(10)

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')

In [8]:
# # i) range 쓰는 것, ii) random 쓰는 겄
# age = [num for num range(16, 26)]


# a = random.randrange(12, 40)
# # for count in range(10)

In [9]:
df = pd.DataFrame({'name':['Mc Kim','Alice Lee','Pole Park', 'DJ Koo', 'Note Bae', 'Heaven Seo', 'Black List','White Paper','White House','Sun Cap'],
                   'birth':['2020-01-20','2020-02-20','2020-05-20','2020-04-20','2020-03-20','2020-06-20','2020-09-20','2020-08-20','2020-07-20','2020-10-20'],
                    'age':[12, 54, 23, 20, 11, 18, 20, 40, 32, 34]})
df

# 위에서 적힌 방법처럼 birth와 age를 다른 방법으로 넣어주는 것도 해보고

          name       birth  age
0       Mc Kim  2020-01-20   12
1    Alice Lee  2020-02-20   54
2    Pole Park  2020-05-20   23
3       DJ Koo  2020-04-20   20
4     Note Bae  2020-03-20   11
5   Heaven Seo  2020-06-20   18
6   Black List  2020-09-20   20
7  White Paper  2020-08-20   40
8  White House  2020-07-20   32
9      Sun Cap  2020-10-20   34

In [10]:
df.dtypes

name     object
birth    object
age       int64
dtype: object