## 연속형 자료형 -> 범주형 변환

- pandas.cut() 함수 제공
    - PARAMETER [
    
    
        - bins : 구간 갯수           -> 정렬 후 지정된 갯수 만큼
        - right : 오른쪽 값 포함여부 -> True
        - labels : 구간에 대한 라벨, 리스트  -> 구간 갯수에 맞게 설정 (작->크 순서로 정렬된다고 보고, 라벨명 작성)
        - include lowest : True가 되면 구간 중 첫번째 구간(가장 왼쪽 라벨)에서 가장 작은 값을 포함시킬 것이냐. False가 기본 
        
        a < value <= b    =>   기본 값
        
        - retbins : 구간 리스트 반환 여부  ->  False
        (나눠만 주는데 True를 하면 반환값을 
        
    -RESULT
            - 범주형 변환 데이터 (기본은 얘 밖에 반환 안됨)
            - 구간 리스트  <-- retbins = True로 설정도니 경우 반환

In [2]:
import pandas as pd

# DF 데이터 생성
df = pd.DataFrame({'value':[1,2,3,4,5]})
df

   value
0      1
1      2
2      3
3      4
4      5

In [5]:
# 연속형 자료형 ===> 범주형(Category) 변환
# [기본값] right = True, include_lowest = False
caDF, retbins = pd.cut(x = df['value'], bins=2, retbins=True)
caDF
# 1,2,3,4,5 입력 중 2개로 나눠달라.
# 대괄호([]) 표시가 포함, 괄호(()) 표시는 미포함

0    (0.996, 3.0]
1    (0.996, 3.0]
2    (0.996, 3.0]
3      (3.0, 5.0]
4      (3.0, 5.0]
Name: value, dtype: category
Categories (2, interval[float64, right]): [(0.996, 3.0] < (3.0, 5.0]]

In [6]:
# [수정] right = True, include_lowest = False, include_lowest=True
caDF, retbins = pd.cut(x = df['value'], bins=2, retbins=True, include_lowest=True)
caDF

0    (0.995, 3.0]
1    (0.995, 3.0]
2    (0.995, 3.0]
3      (3.0, 5.0]
4      (3.0, 5.0]
Name: value, dtype: category
Categories (2, interval[float64, right]): [(0.995, 3.0] < (3.0, 5.0]]

In [8]:
retbins

array([1.   , 3.   , 5.004])

In [7]:
# [수정] right = False, 
caDF, retbins = pd.cut(x = df['value'], bins=2, retbins=True, right=False)
caDF
# 구간의 대괄호와 괄호가 바뀐 것을 볼 수 있음
# 내가 봤었던 80이 딱 마지막에 걸리니까 그건 넣어주면 될 것 같은데

0      [1.0, 3.0)
1      [1.0, 3.0)
2    [3.0, 5.004)
3    [3.0, 5.004)
4    [3.0, 5.004)
Name: value, dtype: category
Categories (2, interval[float64, left]): [[1.0, 3.0) < [3.0, 5.004)]

In [9]:
retbins

array([1.   , 3.   , 5.004])

In [10]:
# [수정] right = False, include_lowest = False
caDF, retbins = pd.cut(x = df['value'], bins=2, retbins=True, right=False, include_lowest = False)
caDF

0      [1.0, 3.0)
1      [1.0, 3.0)
2    [3.0, 5.004)
3    [3.0, 5.004)
4    [3.0, 5.004)
Name: value, dtype: category
Categories (2, interval[float64, left]): [[1.0, 3.0) < [3.0, 5.004)]