In [2]:
# 232~

# 그룹화(Group) 실습

- DF/SR.groupby() 메서드로 생성

- 그룹단위로 평균, 최대, 최소 등과 같은 집계 메서드 적용

In [3]:
# 모듈 로딩
import pandas as pd
import numpy as np

# < DF 만들때 >
# - 딕셔너리 => columns
# - 리스트, 튜플 => row

df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [4]:
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [5]:
print(f'df.columns => {df.columns}\n{df.index}', sep='\n')

df.columns => Index(['class', 'order', 'max_speed'], dtype='object')
Index(['falcon', 'parrot', 'lion', 'monkey', 'leopard'], dtype='object')

In [6]:
# 그룹 만들기 -----> 객체변수명.groupby(컬럼명)
classGroup = df.groupby(by='class')
classGroup
# 주소만 보여줌

In [7]:
# 내용을 보고자 한다면, 속성을 통해 봐야 함
# 반복이 가능한 객체이기 떄문에 => for ~ in을 써서 볼 수 있음

for group in classGroup:
    print(group)
    
# class => key 2개, 각각에 해당하는 value가 나옴

('bird',        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0)
('mammal',           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0)

In [8]:
for key, group in classGroup:
    print(f'KEY --- {key}')
    print(f'GROUP --- \n{group}\n')

KEY --- bird
GROUP ---
       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

KEY --- mammal
GROUP ---
          class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0

In [9]:
# GroupBy 객체 속성 살펵보기
# '그룹키' : [(그룹키에 속하는) 요소 인덱스]
classGroup.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [10]:
# 특정 그룹키에 해당하는 데이터만 추출 => get_group(키)
classGroup.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

### 그룹 전체에 해당하는 데이터 추출

In [11]:
# 그룹 전체에 해당하는 데이터 추출 
classGroup.describe()  # 수치로 계산할 수 있는 것만

       max_speed
           count   mean         std   min     25%    50%     75%    max
class
bird         2.0  206.5  258.093975  24.0  115.25  206.5  297.75  389.0
mammal       2.0   69.1   15.697771  58.0   63.55   69.1   74.65   80.2

In [12]:
classGroup.describe(include = 'all')
# 수치 이외의 모든 것들이 나오지
# 개수나 최빈값 등은 나올 수 있으니까 include 파라미터

       order                                                           ...  \
       count unique            top freq mean  std  min  25%  50%  75%  ...
class                                                                  ...
bird       2      2  Falconiformes    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
mammal     3      2      Carnivora    2  NaN  NaN  NaN  NaN  NaN  NaN  ...

       max_speed                                                           \
          unique top freq   mean         std   min     25%    50%     75%
class
bird         NaN NaN  NaN  206.5  258.093975  24.0  115.25  206.5  297.75
mammal       NaN NaN  NaN   69.1   15.697771  58.0   63.55   69.1   74.65


          max
class
bird    389.0
mammal   80.2

[2 rows x 22 columns]

In [13]:
classGroup.mean()

        max_speed
class
bird        206.5
mammal       69.1

### 특정 그룹에 대한 처리

In [14]:
# 특정 그룹에 대한 것만 처리  =>  get_group(키)
birdGroup = classGroup.get_group('bird')
birdGroup

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [15]:
birdGroup.describe()

        max_speed
count    2.000000
mean   206.500000
std    258.093975
min     24.000000
25%    115.250000
50%    206.500000
75%    297.750000
max    389.000000

In [16]:
birdGroup.max(), birdGroup.min()

(class                  bird
 order        Psittaciformes
 max_speed             389.0
 dtype: object,
 class                 bird
 order        Falconiformes
 max_speed             24.0
 dtype: object)

In [17]:
# 내가 필요한 메서드들을 파라미터로 넣어서 그것들만 보고 싶을 때
# 여러개면 대괄호 안에 따옴표 적어서 넣어줘야

In [18]:
# 집계함수를 한꺼번에 적용 => agg(['함수명', '함수명'...] , axis = 0)
# 대괄호의 여부에 따라 DF로 나오는 여부가 결정되는 거 같음
birdGroup.agg(['max','min', 'sum'])
# birdGroup.agg(['max'])
# birdGroup.agg('max')

        class                        order  max_speed
max      bird               Psittaciformes      389.0
min      bird                Falconiformes       24.0
sum  birdbird  FalconiformesPsittaciformes      413.0

In [19]:
# 집계함수를 한꺼번에 적용 => agg( {컬럼명 : 함수명, 컬럼명 : 함수명}, axis = 0)
birdGroup.agg({'order':'max', 'max_speed':'min'})

order        Psittaciformes
max_speed              24.0
dtype: object

In [20]:
birdGroup.agg({'order':'max', 'max_speed':['min']})

              order  max_speed
max  Psittaciformes        NaN
min             NaN       24.0

In [21]:
# 컬러몀과 함수명을 적절히 조절해서 넣으면 원하는 컬럼의 집계값을 구할 수 있음
birdGroup.agg({'order':['max','min'], 'max_speed':['min','sum']})

              order  max_speed
max  Psittaciformes        NaN
min   Falconiformes       24.0
sum             NaN      413.0

In [22]:
# 사용자 정의 함수  (내가 원하는 집계함수를 만들어서 쓸 수 있도록!!!)
def getMaxMin(x):
    print(f'x ---------- \n{x}\n')
    return x.max() - x.min()

# 함수를 넣는 대괄호 부분 숙지
birdGroup.agg({'order':'max', 'max_speed':[getMaxMin]})

x ----------
389.0

x ----------
falcon    389.0
parrot     24.0
Name: max_speed, dtype: float64

                    order  max_speed
max        Psittaciformes        NaN
getMaxMin             NaN      365.0

In [23]:
# 그룹에서 필터링하기 ----------> filter( True / False )
# DataFrame.filter()  =>  파라미터 봐주기
# birdGroup.filter()

birdGroup.filter(items = ['order'])

                 order
falcon   Falconiformes
parrot  Psittaciformes

In [24]:
birdGroup.filter(items = ['max_speed'])

        max_speed
falcon      389.0
parrot       24.0

In [25]:
# 바로 위의 DF를 참고하면
birdGroup['max_speed'] >= 300

falcon     True
parrot    False
Name: max_speed, dtype: bool

In [26]:
# birdGroup['order'] >= 300 => 'order'컬럼은 str이라서 오류뜨고

In [27]:
# max_speed컬럼 값이 300이상인 데이터만 출력
birdGroup.filter(birdGroup['max_speed'] >=300)

Empty DataFrame
Columns: []
Index: [falcon, parrot]

In [28]:
# 과제 0710
# 전체에서 max_speed를 뽑아서 조건을 주는 것
# => 다시금 해보쟈
birdGroup.filter(items = ['max_speed'])

        max_speed
falcon      389.0
parrot       24.0