In [4]:
# 220906)

In [5]:
# 히스토그램기반 부스팅 2가지\
# - scikit-learn 아님 => 설치 필요
# pip install lightgbm
# pip install xgboost

In [ ]:
model validation
cross_val_score
cross_validate ->

## 다양한 교차검증
---
- model_selection 모듈
    * cross_val_score(estimator, X)
    * cross_val_validate(estimator, X)
    * cross_val_predict(estimator, X)

In [14]:
from sklearn.model_selection import  cross_val_predict, cross_val_score, cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

### [1] 데이터 로딩

In [15]:
iris=load_iris()

In [16]:
# Bunch 타입 => dict
data = iris['data']
target = iris['target']
featureName = iris['feature_names']
className = iris['target_names']

In [19]:
# 확인
print(iris.keys())
iris['target_names']

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [20]:
# 확인
featureName, className

(['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 array(['setosa', 'versicolor', 'virginica'], dtype='<U10'))

### [2] 모델 생성

In [24]:
# max_iter : 처음~끝까지 샘플데이터 학습 => 에포크(epoch) 횟수
lrModel = LogisticRegression(max_iter=500)

In [28]:
# 교차 검증으로 모델 학습 진행
# -> 학습 데이터 기반 5개 Fold로 학습 & 검증 진행
# -> cv 파라미터로 개수 조절 가능
result = cross_val_score(lrModel, data, target, cv=10)

In [29]:
# 5개 모델에 대한 score => 정확도(accuracy)
result

array([1.        , 0.93333333, 1.        , 1.        , 0.93333333,
       0.93333333, 0.93333333, 1.        , 1.        , 1.        ])

In [38]:
# return_train_score=True => train에 대한 score까지 주셈
allResult = cross_validate(lrModel, data, target, 
                           return_train_score=True,
                           cv=7)

# 비율과 셔플에 관련된 파라미터는 없음
# -> cv 객체를 만들어서 넣어주면 됨

In [37]:
# DF로 출력 가능 (cv = 5 (기본값))
resultDF = pd.DataFrame(allResult)
resultDF

   fit_time  score_time  test_score  train_score
0  0.018121         0.0    0.966667     0.966667
1  0.024008         0.0    1.000000     0.966667
2  0.015996         0.0    0.933333     0.983333
3  0.016002         0.0    0.966667     0.983333
4  0.013003         0.0    1.000000     0.975000

In [40]:
# DF로 출력 가능 (cv = 7)
resultDF = pd.DataFrame(allResult)
resultDF

   fit_time  score_time  test_score  train_score
0  0.022139         0.0    0.954545     0.968750
1  0.018005         0.0    1.000000     0.968750
2  0.015004         0.0    0.909091     0.976562
3  0.016003         0.0    0.952381     0.976744
4  0.015003         0.0    0.952381     0.992248
5  0.015003         0.0    1.000000     0.968992
6  0.021005         0.0    1.000000     0.976744

In [49]:
# 비율과 셔플에 관련된 파라미터는 없음
# -> cv 객체를 만들어서 넣어주면 됨
# cross_validate()

# KFold -> 데이터가 편증 되는 경우 발생
# 객체를 만들어서 cv에 지정해주면 됨

# Splitter 객체 생성 - KFold()
from sklearn.model_selection import KFold, StratifiedKFold

kSplitter = KFold(n_splits=7, shuffle=True)
sSplitter = StratifiedKFold(n_splits=7, shuffle=True)

# 파라미터
# return_train_score : 학습 데이터 평가 결과 반환 여부 설정
# return_estimator : 모델 객체 반환 여부 설정


allResult = cross_validate(lrModel, data, target, 
                           return_train_score=True,
                           return_estimator=True,
                           cv=kSplitter)

allResult_1 = cross_validate(lrModel, data, target, 
                           return_train_score=True,
                           return_estimator=True,
                           cv=sSplitter)

In [46]:
# KFold() - return_estimator=True (x)
resultDF = pd.DataFrame(allResult)
resultDF

   fit_time  score_time  test_score  train_score
0  0.022005       0.000    1.000000     0.976562
1  0.016004       0.000    0.954545     0.960938
2  0.014002       0.001    1.000000     0.968750
3  0.020004       0.000    0.952381     0.984496
4  0.014003       0.001    1.000000     0.968992
5  0.015004       0.000    0.952381     0.976744
6  0.016004       0.001    0.904762     0.976744

In [48]:
# StratifiedKFold() - return_estimator=True (x)
resultDF = pd.DataFrame(allResult_1)
resultDF

   fit_time  score_time  test_score  train_score
0  0.016004       0.000    1.000000     0.976562
1  0.017004       0.000    0.954545     0.976562
2  0.015003       0.000    1.000000     0.968750
3  0.014003       0.001    0.952381     0.968992
4  0.016004       0.000    0.952381     0.984496
5  0.017004       0.000    0.952381     0.984496
6  0.020004       0.000    1.000000     0.968992

In [50]:
# KFold() - return_estimator=True (o)
resultDF = pd.DataFrame(allResult)
resultDF

,fit_time,score_time,estimator,test_score,train_score
0,0.018005,0.001,LogisticRegression(max_iter=500),1.000000,0.968750
1,0.015003,0.000,LogisticRegression(max_iter=500),0.909091,1.000000
2,0.015003,0.000,LogisticRegression(max_iter=500),0.909091,0.984375
3,0.013003,0.000,LogisticRegression(max_iter=500),1.000000,0.968992
4,0.017004,0.000,LogisticRegression(max_iter=500),0.952381,0.968992
5,0.017004,0.000,LogisticRegression(max_iter=500),1.000000,0.976744
6,0.017004,0.000,LogisticRegression(max_iter=500),1.000000,0.968992

In [51]:
# StratifiedKFold() - return_estimator=True (o)
resultDF = pd.DataFrame(allResult_1)
resultDF

,fit_time,score_time,estimator,test_score,train_score
0,0.017004,0.001,LogisticRegression(max_iter=500),0.954545,0.984375
1,0.021004,0.000,LogisticRegression(max_iter=500),1.000000,0.968750
2,0.015003,0.001,LogisticRegression(max_iter=500),0.954545,0.992188
3,0.018004,0.001,LogisticRegression(max_iter=500),0.857143,0.976744
4,0.019005,0.000,LogisticRegression(max_iter=500),0.952381,0.984496
5,0.021004,0.000,LogisticRegression(max_iter=500),1.000000,0.968992
6,0.016003,0.000,LogisticRegression(max_iter=500),1.000000,0.968992

In [ ]:
# [ 모델선정 -> 교차검증 ] 과정을 거쳐야