# Boolean Indexing

- Series / DataFrame 객체에서 빠르게 원하는 원소를 추출하기 위해 사용

- Series / DataFrame 객체의 원소에 연산 결과가 True/False인 결과
 -> True나 False 인 것만 고를 수 있다는 것

In [4]:
# 모듈 로딩
import pandas as pd

# DF 객체 생성
df = pd.DataFrame( {'name':['Park', 'Kim','Lee'],
                   'age':[10, 21, 16],
                   'gender':['F','F','M']})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [5]:
# DF 객체 데이터 확인
df

   name  age gender
0  Park   10      F
1   Kim   21      F
2   Lee   16      M

In [6]:
# age 컬럼 추출 -> 비교연산 -> 15세 이상 인가
ageCol = df['age']
ageCol

0    10
1    21
2    16
Name: age, dtype: int64

In [7]:
result = ageCol > 15   #ageCol 원소마다 [ >15 ] 가 들어간 것
result

0    False
1     True
2     True
Name: age, dtype: bool

In [8]:
# OMP 답안지 구녕만 뚫어서 대어 보는 이미지 떠올려보셈
# 판다스를 활용할 때는 이런 방법으로 많이 뽑을 것임

# age가 15세 이상인 데이터만 뽑고자 할 때

ageover15 = df[result == True]
ageover15
# 이렇게 변수명을 적어주고 필요한 것을 모아주도록!

  name  age gender
1  Kim   21      F
2  Lee   16      M

In [9]:
ageCol[result == True]

1    21
2    16
Name: age, dtype: int64

In [10]:
df[ageCol >= 15 ]

  name  age gender
1  Kim   21      F
2  Lee   16      M

In [11]:
ageCol[ageCol >= 15 ]

1    21
2    16
Name: age, dtype: int64

In [12]:
# 성별이 남자인 데이터만 추출하기
ageCol = df['age']
resultA = ageCol >15
genderCol = df['gender']
resultG = genderCol == 'M'
resultG
df[resultG]

  name  age gender
2  Lee   16      M

# 과제-1 (0701)

In [13]:
# DF 객체 생성
df2 = pd.DataFrame( {'name':['Park', 'Kim','Lee'],
                   'age':[10, 21, 16],
                   'gender':['F','F','M']})
df2

   name  age gender
0  Park   10      F
1   Kim   21      F
2   Lee   16      M

In [32]:
# 15세 이상 남자만 추출하기
result1 = df2['gender'] == 'M'
result1

0    False
1    False
2     True
Name: gender, dtype: bool

In [33]:
result2 = df2['age'] >=15
result2

0    False
1     True
2     True
Name: age, dtype: bool

In [34]:
df2.loc[result1 & result2]

# 행을 구하는 것이라 생각하자 (True(나이) - True(성별) 이어야 하니까!)

  name  age gender
2  Lee   16      M

In [15]:
# 읽어오는 파일들 앞에는 'read_'가 붙으면서 DataFrame이 만들어짐
# 144~
# 헤당 파일 확장자와는 다르게 구분한 경우도 있으니 열어서 확인해야 함
# read_ 검색

In [16]:
# html에서는 table에 있는 것만 불러옴
# - table이 여러개면 DataFrame으로 여러 개를 갖고옴