# 데이터프레임(DataFrame
- 시리즈(Series) 객체가 2개이상 합쳐진 pandas의 데이터 타입    ex) 0번 떼와라 -> 어느 시리즈!? -> 시리즈 식별해줄 수 있어야 함
- 열/column/feature, 행(row)/entry/instance
- 구성 : 행(로우) 인덱스 + 열(컬럼) 라벨  
cf) df명.columns[0,1]  이런식으로 행번호로도 컬럼 호출 가능

In [4]:
# 모듈 로딩
import pandas as pd

# 리스트에 리스트를 넣으면 2차원이 됨
datas = [1,2,3,[11,22]]
print(datas[3][1])

22

In [5]:
datas = [[1,2,3],['a','b','c']]
df = pd.DataFrame(datas)   # 객체 만든 것
df

   0  1  2
0  1  2  3
1  a  b  c

In [6]:
# DataFrame의 속성 읽기
print(df.index, df.columns, df.values, df.size, df.ndim, df.shape, sep='\n')   # print()에 [ sep='\n' ] 옵션으로 작성

RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=3, step=1)
[[1 2 3]
 ['a' 'b' 'c']]
6
2
(2, 3)

In [7]:
# 0, 1
# 0, 1, 2
# (2, 3) = 2행 3열

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
 2   2       2 non-null      object
dtypes: object(3)
memory usage: 176.0+ bytes

In [9]:
# non-null : 비어있지 않은 것
# 파일을 읽어오면, info()로 data에 대한 정보를 한눈에 봐야 => 특히 데이터 누락된 것 확인

In [10]:
# Dict 데이터로 DataFrame 객체 생성하기
df2 = pd.DataFrame( {'name':['HONG','LEE'],
                     'age':[12,5],
                    'loc':['Daege', 'Busan'],
                    'Gen':['F','M']})

# key 이름이 컬럼명

df2

   name  age    loc Gen
0  HONG   12  Daege   F
1   LEE    5  Busan   M

In [11]:
# 리스트, 튜플은 가로로 들어가지만
# 딕셔너리는 세로로 들어간다

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   age     2 non-null      int64
 2   loc     2 non-null      object
 3   Gen     2 non-null      object
dtypes: int64(1), object(3)
memory usage: 192.0+ bytes

In [13]:
# DataFrame객체에서 'Busan' 데이터 추출

df2.loc[1,'loc']
# df2.loc[1,2]는 에러남 => 왜인지 알 것!  
-> 열(컬럼)은 행번호로 부르기 위해서는 다르케 해야함

'Busan'