In [ ]:
* 라벨 폴더의 파일만 읽어내서 DF로 만들어서 다 갖다 붙이기
* 그래프로 만들어

In [ ]:
ordering = "0,1,2".split(",")

plt.figure(figsize=(8,4))
sns.countplot(data=train, x='label', order=ordering)
plt.show()

cnt = train["label"].value_counts()
rate = train["label"].value_counts(normalize=True)

print(cnt, rate)

---

In [1]:
import json
import pandas as pd
import os

In [5]:
path = 'C:/Users/USER/Desktop/최종 프로젝트/[라벨]General_val_A/district/'

In [71]:
keypoints = []
get_on = []
get_off = []

for i in os.listdir(path):
    os.listdir(path+i)
    file_list = os.listdir(path+i)
       
    for a in file_list:
        with open ((path+i+'/'+a),"r") as j:
            contents = json.loads(j.read())
            if len(contents['annotations']) != 0:
                keypoints.append(contents['annotations'][0]['keypoints'])
                get_on.append(contents['annotations'][0]['get_on'])
                get_off.append(contents['annotations'][0]['get_off'])

In [189]:
# file_list = os.listdir(path)
# file_list_py = [file for file in file_list if file.endswith('.json')] ## 파일명 끝이 .json인 경우

In [72]:
df = pd.DataFrame({'keypoints':keypoints,
                   'get_on':get_on,
                   'get_off':get_off})

In [84]:
get_num = []
for i in range(len(get_on)):
    if (df['get_on'][i] == False) and (df['get_off'][i] == False):
        get.append(2)
    elif (df['get_on'][i] == True) and (df['get_off'][i] == False):
        get.append(1)
    else:
        get.append(0)

In [86]:
df['get'] = get

In [87]:
df

                                               keypoints  get_on  get_off  get
0      [279, 703, 1, 337, 604, 2, 313, 413, 2, 314, 3...   False     True    0
1      [348, 700, 2, 496, 705, 2, 469, 504, 2, 507, 4...   False     True    0
2      [748, 880, 2, 695, 729, 2, 618, 529, 2, 692, 4...   False     True    0
3      [800, 898, 2, 849, 780, 2, 852, 565, 2, 908, 5...   False     True    0
4      [833, 892, 2, 989, 820, 2, 1044, 609, 2, 1107,...   False     True    0
...                                                  ...     ...      ...  ...
16488  [1058, 189, 2, 1059, 154, 2, 1056, 115, 2, 103...   False    False    2
16489  [992, 168, 1, 997, 138, 1, 1000, 110, 2, 986, ...   False    False    2
16490  [943, 256, 1, 935, 225, 1, 927, 185, 2, 934, 1...   False    False    2
16491  [1668, 453, 2, 1663, 399, 2, 1683, 350, 2, 171...   False    False    2
16492  [1394, 311, 2, 1374, 274, 2, 1391, 228, 2, 141...   False    False    2

[16493 rows x 4 columns]

In [60]:
df['get_off']

0         True
1         True
2         True
3         True
4         True
         ...
16488    False
16489    False
16490    False
16491    False
16492    False
Name: get_off, Length: 16493, dtype: bool

In [89]:
import numpy as np

In [90]:
keypoints = np.array(keypoints)

In [91]:
keypoints = keypoints.reshape(-1,16,1,3)

In [92]:
keypoints.shape

(16493, 16, 1, 3)

In [101]:
from tensorflow.keras.utils import to_categorical
y = to_categorical(get, num_classes=3)

In [103]:
y.shape

(16493, 3)

In [46]:
from sklearn.model_selection import train_test_split

In [111]:
x_train,x_test,y_train,y_test=train_test_split(keypoints,y,test_size=0.2,random_state=42)

In [93]:
import tensorflow as tf

In [94]:
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam,SGD,RMSprop,Adagrad

from keras.layers import Dropout, Flatten,Activation
from keras.layers import Conv2D, MaxPooling2D, Conv3D, MaxPool2D

In [125]:
model=Sequential()
model.add(Conv2D(30, kernel_size=3, padding='same', input_shape=(16, 1, 3))) 
# 이미지 특징 다운샘플링 Layer => MaxPool2D
# 1차원으로 데이터 형태 변환 Layer => Flatten
model.add(Flatten())
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(3, activation='softmax')) # 1차원

In [126]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d_7 (Conv2D)           (None, 16, 1, 30)         840

 flatten_4 (Flatten)         (None, 480)               0

 dense_8 (Dense)             (None, 64)                30784

 dropout_4 (Dropout)         (None, 64)                0

 dense_9 (Dense)             (None, 3)                 195

=================================================================
Total params: 31,819
Trainable params: 31,819
Non-trainable params: 0
_________________________________________________________________

In [127]:
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [128]:
model.fit(x_train,y_train,epochs=30,batch_size=64,validation_split=0.2)

Epoch 1/30
165/165 [==============================] - 4s 12ms/step - loss: 6.8498 - accuracy: 0.5378 - val_loss: 1.0363 - val_accuracy: 0.5567
Epoch 2/30
165/165 [==============================] - 1s 7ms/step - loss: 1.0174 - accuracy: 0.5564 - val_loss: 0.9907 - val_accuracy: 0.5563
Epoch 3/30
165/165 [==============================] - 1s 7ms/step - loss: 0.9731 - accuracy: 0.5570 - val_loss: 0.9601 - val_accuracy: 0.5563
Epoch 4/30
165/165 [==============================] - 1s 6ms/step - loss: 0.9460 - accuracy: 0.5574 - val_loss: 0.9403 - val_accuracy: 0.5563
Epoch 5/30
165/165 [==============================] - 1s 6ms/step - loss: 0.9293 - accuracy: 0.5574 - val_loss: 0.9277 - val_accuracy: 0.5563
Epoch 6/30
165/165 [==============================] - 1s 5ms/step - loss: 0.9183 - accuracy: 0.5574 - val_loss: 0.9199 - val_accuracy: 0.5563
Epoch 7/30
165/165 [==============================] - 1s 5ms/step - loss: 0.9112 - accuracy: 0.5574 - val_loss: 0.9148 - val_accuracy: 0.5563
Epoch 8/30
165/165 [==============================] - 1s 5ms/step - loss: 0.9083 - accuracy: 0.5574 - val_loss: 0.9141 - val_accuracy: 0.5559
Epoch 9/30
165/165 [==============================] - 1s 5ms/step - loss: 0.9048 - accuracy: 0.5574 - val_loss: 0.9121 - val_accuracy: 0.5559
Epoch 10/30
165/165 [==============================] - 1s 4ms/step - loss: 0.9030 - accuracy: 0.5573 - val_loss: 0.9109 - val_accuracy: 0.5563
Epoch 11/30
165/165 [==============================] - 1s 5ms/step - loss: 0.9017 - accuracy: 0.5574 - val_loss: 0.9103 - val_accuracy: 0.5563
Epoch 12/30
165/165 [==============================] - 1s 4ms/step - loss: 0.9009 - accuracy: 0.5574 - val_loss: 0.9100 - val_accuracy: 0.5563
Epoch 13/30
165/165 [==============================] - 1s 4ms/step - loss: 0.9005 - accuracy: 0.5574 - val_loss: 0.9099 - val_accuracy: 0.5563
Epoch 14/30
165/165 [==============================] - 1s 4ms/step - loss: 0.9002 - accuracy: 0.5574 - val_loss: 0.9098 - val_accuracy: 0.5563
Epoch 15/30
165/165 [==============================] - 1s 4ms/step - loss: 0.9000 - accuracy: 0.5574 - val_loss: 0.9099 - val_accuracy: 0.5563
Epoch 16/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8999 - accuracy: 0.5574 - val_loss: 0.9099 - val_accuracy: 0.5563
Epoch 17/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8999 - accuracy: 0.5574 - val_loss: 0.9100 - val_accuracy: 0.5563
Epoch 18/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9100 - val_accuracy: 0.5563
Epoch 19/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9100 - val_accuracy: 0.5563
Epoch 20/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9100 - val_accuracy: 0.5563
Epoch 21/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 22/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 23/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 24/30
165/165 [==============================] - 1s 4ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9102 - val_accuracy: 0.5563
Epoch 25/30
165/165 [==============================] - 1s 3ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9102 - val_accuracy: 0.5563
Epoch 26/30
165/165 [==============================] - 0s 3ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 27/30
165/165 [==============================] - 0s 3ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 28/30
165/165 [==============================] - 1s 3ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 29/30
165/165 [==============================] - 1s 3ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563
Epoch 30/30
165/165 [==============================] - 1s 3ms/step - loss: 0.8998 - accuracy: 0.5574 - val_loss: 0.9101 - val_accuracy: 0.5563