# CNN - 이상감지

In [1]:
# 모듈 로딩(1)
import json
import pandas as pd
import os
import matplotlib.pyplot as plt
from tqdm import tqdm
import numpy as np
from collections import Counter

In [17]:
# 모듈 로딩(2)
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import Adam,SGD,RMSprop,Adagrad
from tensorflow.keras.callbacks import EarlyStopping
from keras.layers import Dropout, Flatten,Activation, BatchNormalization
from keras.layers import Conv2D, MaxPooling2D, Conv3D, MaxPool2D, Dense

In [3]:
df = pd.read_csv('./bus_getonoff_sum.csv')
# df

***

In [4]:
df['get_num'].value_counts()

2    626429
0    225248
1    131447
Name: get_num, dtype: int64

***

In [5]:
df['action_num'].value_counts()
# 약 90만개의 데이터가 있음

3    486990
1    279102
0    108011
5     99613
4      4799
7      2641
2      1631
6       337
Name: action_num, dtype: int64

In [6]:
df1 = pd.read_csv('./bus_state.csv')

In [7]:
df1['action_num'].value_counts()

3    14756
0     9412
1     8111
4     4718
5     3791
7     2641
6      327
2      150
Name: action_num, dtype: int64

In [8]:
# 6k 10
# 2r 1100 (x)
# 0st, 1w, 3s d, 5g h 다
# 4l d ,7p =
# ===== 
# 6(kick)은 그다지 늘어나지 않음
# 2(run)은 그렇게 많지는 않을 것임
# 4(lay down)과 7(punch)는 거의 변동x
# 0(stand), 1(walk), 3(sit down), 5(grab handle)은 많이 늘어남
# 효용이 있을지는 모르겠으나 일단 ㄱ

In [9]:
df.head()

,bbox,keypoints,action,get_on,get_off,get_num,action_num
0,"[974, 266, 1471, 1077]","[1074, 1020, 2, 1111, 923, 2, 1151, 752, 2, 12...",stand,True,False,1,0
1,"[1017, 224, 1452, 1060]","[1094, 918, 2, 1131, 802, 2, 1185, 643, 2, 131...",stand,True,False,1,0
2,"[1007, 224, 1445, 1049]","[1085, 909, 2, 1118, 787, 2, 1174, 634, 2, 129...",stand,True,False,1,0
3,"[1007, 222, 1428, 1049]","[1082, 908, 2, 1113, 786, 2, 1155, 627, 2, 127...",stand,True,False,1,0
4,"[995, 220, 1421, 1044]","[1071, 904, 2, 1102, 782, 2, 1144, 623, 2, 127...",stand,True,False,1,0

In [10]:
df['keypoints']

0         [1074, 1020, 2, 1111, 923, 2, 1151, 752, 2, 12...
1         [1094, 918, 2, 1131, 802, 2, 1185, 643, 2, 131...
2         [1085, 909, 2, 1118, 787, 2, 1174, 634, 2, 129...
3         [1082, 908, 2, 1113, 786, 2, 1155, 627, 2, 127...
4         [1071, 904, 2, 1102, 782, 2, 1144, 623, 2, 127...
                                ...
983119    [997, 1077, 0, 997, 1010, 0, 1016, 1042, 0, 88...
983120    [1458, 636, 1, 1483, 581, 1, 1494, 658, 1, 141...
983121    [1446, 632, 1, 1471, 577, 1, 1482, 654, 1, 139...
983122    [1373, 670, 1, 1372, 585, 1, 1418, 523, 2, 133...
983123    [1331, 670, 1, 1337, 561, 1, 1381, 437, 1, 129...
Name: keypoints, Length: 983124, dtype: object

In [11]:
# 열 타입변경
# keypoints와 bbox는 문자열 값으로 저장되어 있어서 배열 형태로 바꾸어 주어야 할 필요성이 있어보여서 이 코드를 만듬
keypoins_arr=[]
bbox_arr=[]

for i in range(len(df)): # 테이블 행 수 만큼 for문 돌림
    bbox_arr.append(np.array(list(map(int,df.bbox[i].strip('[').strip(']').split(','))))) 
    keypoins_arr.append(np.array(list(map(int,df.keypoints[i].strip('[').strip(']').split(',')))))
    
# 배열 형태로 값들이 저장됨
df.bbox=bbox_arr
df.keypoints=keypoins_arr

In [12]:
keypoints = np.array(list(df.keypoints)).reshape(-1,16,3,1)

In [13]:
print(type(df.keypoints))
print(keypoints.shape)

<class 'pandas.core.series.Series'>
(983124, 16, 3, 1)

In [14]:
# 'action_num'을 배열로만 넘겨주면 되겠지
y = np.array(df.action_num)
y.shape

(983124,)

In [15]:
# train과 test 나누기
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(keypoints, y, test_size=0.2, random_state=42)

In [19]:
# 경고무시
import warnings
warnings.filterwarnings(action='ignore')

# CNN2d
model = Sequential()          
model.add(Conv2D(filters = 50, kernel_size = (3,3), strides = (1,1), padding = 'same', kernel_initializer='he_normal', input_shape=(16,3,1)))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Conv2D(filters = 50, kernel_size = (3,3), strides = (1,1), padding = 'same', kernel_initializer='he_normal'))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size = (2,2)))
model.add(Conv2D(filters = 50, kernel_size = (3,3), strides = (1,1), padding = 'same', kernel_initializer='he_normal'))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Conv2D(filters = 50, kernel_size = (3,3), strides = (1,1), padding = 'same', kernel_initializer='he_normal'))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Flatten())

# dense layer with 50 neurons
model.add(Dense(50, activation = 'relu', kernel_initializer='he_normal'))
model.add(Dropout(0.5))

# final layer with 8 neurons to classify the instances
model.add(Dense(8, activation='softmax'))

# model 컴파일
model.compile(loss='sparse_categorical_crossentropy',
              optimizer=tf.keras.optimizers.Adam(lr=0.001),
              metrics=['accuracy'])

# print(model.summary())