# 시리즈 (Series) 타입 실습-------------------------------------------------------------------------
- Pandas의 1종류 (1차원 배열 or 세로 벡터) 데이터를 저장하는 데이터 타입 (Type)  

- 생성 : Series 객체 생성

In [191]:
# 모듈 로딩------------------------------------------------------------------------------------------------
import pandas as pd

# Series 객체 생성
sr=pd.Series([1,2,3,4])

In [192]:
# 생성된 Series 객체 데이터 확인하기
sr

0    1
1    2
2    3
3    4
dtype: int64

In [193]:
# Series 객체의 속성 Attribute 확인 => 객체변수명.속성명
sr.index

# 따로 인덱스를 입력하지 않았기 때문에 0부터 시작하는 인덱스가 부여됨

RangeIndex(start=0, stop=4, step=1)

In [194]:
# 값 속성
sr.values

array([1, 2, 3, 4], dtype=int64)

In [195]:
# 차원(Dimension) 속성
sr.ndim

1

In [196]:
# 형 (Shape) 속성
sr.shape # 튜플이라서 콤마(,)가 뜨는 것

(4,)

In [197]:
sr = pd.Series([1,2,3])
sr.shape

(3,)

In [198]:
sr = pd.Series(['a','b'])
sr.shape

(2,)

In [199]:
sr = pd.Series([2.4])
sr.shape

(1,)

In [200]:
# 실제 사용 메모리 byte, 데이터 갯수
sr.nbytes, sr.size

# 32 -> 실제 사용 메모리 byte (데이터의 개수  x 1바이트당 들어가는 개수)
# 4 -> 데이터 개수

(8, 1)

In [201]:
# 여러 타입의 데이터로 Series 객체 생성
sr2=pd.Series([1,4])
sr2

0    1
1    4
dtype: int64

In [202]:
sr3=pd.Series([1,4,'A'])
sr3 # 'A'가 섞여서 object

0    1
1    4
2    A
dtype: object

In [203]:
sr4=pd.Series([1,4, 4.5])
sr4

0    1.0
1    4.0
2    4.5
dtype: float64

In [204]:
# Series 객체 속성 읽기
print(sr2)
print(f'index => {sr2.index}')
print(f'values => {sr2.values} | values type => {type(sr2.values)}') # 콤마(,)없음 => 리스트 아님
print(f'array => {sr2.array}')
print(sr2) # 정수형 인덱스를 자동으로 적어줌

0    1
1    4
dtype: int64
index => RangeIndex(start=0, stop=2, step=1)
values => [1 4] | values type => <class 'numpy.ndarray'>
array => <PandasArray>
[1, 4]
Length: 2, dtype: int64
0    1
1    4
dtype: int64

In [233]:
ad = pd.Series([1,2,3,4,5,6])
ad.array
print(ad.array)  # 콤마(,)가 있음 => 리스트 라는 것
print(ad.values) # 콤마(,)가 없음 => 리스트가 아니라는 것

<PandasArray>
[1, 2, 3, 4, 5, 6]
Length: 6, dtype: int64
[1 2 3 4 5 6]

In [205]:
# Dict 데이터로 Series 객체 생성
sr3=pd.Series({'name': 'LEE', 'age':29, 'loc':'Daegu'})
sr3 # key가 인덱스로 들어감  =>  딕셔너리로 만드는 것과 다르다

name      LEE
age        29
loc     Daegu
dtype: object

In [206]:
# 인덱스를 바꿀 수도 있고, 인덱스를 바로 지정해줄 수도 있음
# Series 객체 생성
sr=pd.Series(['a','b','c'], index=['하나','둘','셋'])
sr

하나    a
둘     b
셋     c
dtype: object

In [207]:
sr2=pd.Series(['a','b','c'])
sr2

0    a
1    b
2    c
dtype: object

In [208]:
# 인덱스 새로운 값으로 설정 => 객체 변수명, 속성명 =새로운값
sr2.index=[11,22,33]
sr2

11    a
22    b
33    c
dtype: object

# 시리즈(Series) 객체의 원소/요소 다루기
- 방법
    - 시리즈 객체[인덱스번호]
    - 시리즈 객체[인덱스라벨]

In [238]:
# 1번 원소 읽기
sr2.index

Index(['one', 'two', 'three'], dtype='object')

In [240]:
sr2[1] # sr2[22] -> 오류. 안됨   # 바꿔서 한것 생각해볼 것

'b'

In [212]:
# 문자형 인덱스로 새롭게 설정 
sr2.index=['one', 'two', 'three']
sr2.index # 판다스에서는 str을 object로 본다

Index(['one', 'two', 'three'], dtype='object')

In [213]:
sr2['two'], sr2[1], sr2['three'], sr2[2]
# 정수형 인덱스 -> 문자형 인덱스 로 바꿨을 경우, value를 출력하기 위해 [ 정수든 문자든 다 쓸 수 있음]

('b', 'b', 'c', 'c')

In [214]:
# 정수형 index와 문자형 index가 같이 존재하게 되는 경우도 있음
# 문자형으로 index로 만들면, index label[name]이라고 함 => 정수형도 같이 존재하게 됨
# 정수형으로 주면 어차피, 기본적으로 주는 것도 정수이기 때문에

In [215]:
sr3 = pd.Series({'name':'Hong', 'age':12})
sr3

name    Hong
age       12
dtype: object

In [216]:
sr3.index

Index(['name', 'age'], dtype='object')

In [217]:
sr3['age'], sr3['name']

(12, 'Hong')

In [218]:
sr3[0], sr3[1]           # 문자형으로 index가 되었지만, 기존에 있던 정수형 index가 살아 있어서 되는 것

('Hong', 12)

In [219]:
# 튜플과 리스트는 똑같고, 딕셔너리만 다름

In [220]:
sr4 = pd.Series(('2022-06-30','Pandas', True, 4.55, 'No Work'))
sr4

0    2022-06-30
1        Pandas
2          True
3          4.55
4       No Work
dtype: object

In [221]:
sr4.index = ['날짜','과목','공복','소수','희망']
sr4

날짜    2022-06-30
과목        Pandas
공복          True
소수          4.55
희망       No Work
dtype: object

In [246]:
# 정수 인덱스든 문자 인덱스든 똑같이 부를 수 있는 것을 보여줌
print(f'0번요소 : {sr4[0]}  /  3번요소 : {sr4[3]}  / 4번요소 : {sr4[4]}')
print(f"0번요소 : {sr4['날짜']}  /  3번요소 : {sr4['소수']}  / 4번요소 : {sr4['희망']}")

0번요소 : 2022-06-30  /  3번요소 : 4.55  / 4번요소 : No Work
0번요소 : 2022-06-30  /  3번요소 : 4.55  / 4번요소 : No Work

In [223]:
print(sr4[[0,3,4]])  # 2개 이상이면, 리스트 안에 리스트를 담아 => 인덱스부분 넣기

날짜    2022-06-30
소수          4.55
희망       No Work
dtype: object

In [224]:
print(f'1번요소부터 끝까지\n{sr4[1:]}')

1번요소부터 끝까지
과목     Pandas
공복       True
소수       4.55
희망    No Work
dtype: object

In [225]:
print( type(sr4[0]), type(sr4[3]), type(sr4[4]) )

# 덩어리로 object였었고, 원소 하나씩 빼내면 원래 자기 타입인 'str'

print( sr4[ [0,3,4] ], type(sr4[ [0,3,4] ]) )

# 리스트에 담으면 Series 형태로 나옴

<class 'str'> <class 'float'> <class 'str'>
날짜    2022-06-30
소수          4.55
희망       No Work
dtype: object <class 'pandas.core.series.Series'>

In [254]:
pp = pd.Series([0,1,2,3,4])
print(pp[[0,3,4]], type(pp[[0,3,4]]))
print(pp[0], type(pp[0])) # 정수들 덩어리는 Series 타입, 원소 하나씩 빼내면 int64 타입

0    0
3    3
4    4
dtype: int64 <class 'pandas.core.series.Series'>
0 <class 'numpy.int64'>

In [226]:
# (2) 1번요소부터 끝까지요소값 
print(sr4[1:])
print(sr4['과목':])

과목     Pandas
공복       True
소수       4.55
희망    No Work
dtype: object
과목     Pandas
공복       True
소수       4.55
희망    No Work
dtype: object

In [227]:
# (3) 1번요소부터 3번요소까지 요소값 출력  
print(sr4[1:4])  #  인덱스로 하면 끝 원소 미포함
print()
print(sr4['과목':'희망'])  # 인덱스 라벨은 끝 원소로 포함

과목    Pandas
공복      True
소수      4.55
dtype: object

과목     Pandas
공복       True
소수       4.55
희망    No Work
dtype: object